@import url('https://fonts.googlpis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    
    color: #ededed;
}
span{
    color: #00abf0;
}
.header{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: #ededed;
    text-decoration: none;
    font-weight: 950;
    margin-left: 9%;
    
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right:0 ;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    background: #081b29;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover , .navbar a.active {
    color: #00abf0;
}
.home{
    display: flex;
    background: url('muneeb.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    padding: 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a{
    position: relative;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    display: inline-flex;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
} 
.btn-box a:nth-child(2){
    background:transparent ;
    color: #00abf0;

}
.btn-box a:nth-child(2):hover{
    background:transparent ;
    color: #081b29;
}
.btn-box a:nth-child(1){
    background:transparent ;
    color: #00abf0;

}
.btn-box a:nth-child(1):hover{
    background:transparent ;
    color: #081b29;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;

}
.btn-box a:hover::before{
    width: 100%;

}
.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s; 
   
}
.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
   
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

@media screen and (max-width: 600px)
{
    .navbar a{
        font-size: 13px;
        margin-left: 15px;
    }

    .logo{
        font-size: 20px;
        margin-left: 6%;
        
    }

    .home-content h1{
        font-size: 36px;
        line-height: 1.2;
    }
    .home-content h3{
        font-size: 20px;

    }
    .home-content p{
        font-size: 12px;
        margin: 20px 0 40px;
        width: 70%;
    }
    .btn-box a{
        font-size: 12px;
    }
    .home-content .btn-box{
        width: 173px;
        height: 25px;
    }

}